---
import Layout from "@/layouts/Layout.astro";
import HeroPage from "@/components/HeroPage.astro";
import CallToActionSection from "@/components/CallToActionSection.astro";
import OrganizerCard from "@/components/OrganizerCard.astro";
import Button from "@/components/Button.astro";
import { MapPin, Users, Calendar, User } from "@lucide/astro";
// data
import organizers from "@/data/organizers/organizers.json";
import gallery from "@/data/gallery/gallery.json";

import { Gallery } from "@/components/react/Gallery";

// metadata
const metadata = {
  title: "Nosotros - Google Developer Group Ica",
  bio: "Somos Google Developer Group Ica",
  image: "",
  url: "https://gdgica.com/nosotros",
};
---

<Layout {...metadata}>
  <HeroPage>
    <img
      src="/gdg-logo.png"
      alt="Google Developer Group Ica"
      class="mb-6 inline-flex h-24 w-24 items-center justify-center rounded-2xl"
    />
    <h1 class="mb-6 text-4xl font-bold md:text-5xl">
      <span class="text-google-blue">Somos</span>
      <span class="text-google-red">GDG</span>
    </h1>
    <p class="text-secondary mb-8 text-xl">
      Una comunidad vibrante de desarrolladores unidos por la pasión de crear,
      aprender y compartir conocimiento sobre las tecnologías de Google. Desde
      2015, hemos sido el punto de encuentro para desarrolladores de todos los
      niveles.
    </p>
    <div
      class="flex flex-col items-center justify-center gap-8 md:flex-row md:gap-4"
    >
      <div
        class="flex items-center gap-2 rounded-4xl bg-[#F3F4F6] px-[15px] py-[20px] text-lg text-[#1F2937] md:py-[10px]"
      >
        <MapPin size={20} class="font-light" />
        <span class="text-primary font-bold">Ciudad de Ica, Perú</span>
      </div>
      <div
        class="flex items-center gap-2 rounded-4xl bg-[#F3F4F6] px-[15px] py-[20px] text-lg text-[#1F2937] md:py-[10px]"
      >
        <Users size={20} class="font-light" />
        <span class="text-primary font-bold">1000+ Miembros</span>
      </div>
      <div
        class="flex items-center gap-2 rounded-4xl bg-[#F3F4F6] px-[15px] py-[20px] text-lg text-[#1F2937] md:py-[10px]"
      >
        <Calendar size={20} class="font-light" />
        <span class="text-primary font-bold">12 Años Activos</span>
      </div>
    </div>
  </HeroPage>
  <section class="bg-section py-20">
    <div class="container">
      <h2 class="text-primary mb-6 text-center text-4xl font-bold">
        Nuestros Organizadores
      </h2>
      <p class="text-secondary text-center text-xl">
        Conoce a todos los miembros de nuestro equipo organizador
      </p>
      <div
        class="mt-12 grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        {organizers.map((organizer) => <OrganizerCard organizer={organizer} />)}
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="container">
      <h2 class="text-primary mb-6 text-center text-4xl font-bold">
        Galería de Momentos
      </h2>
      <p class="text-secondary text-center text-xl">
        Revive los mejores momentos de nuestra comunidad a través de estas
        imágenes
      </p>
      <!-- <div class="mt-8 flex flex-wrap justify-center gap-4">
        <Button
          variant="solid"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          Todos
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          DevFest
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          WorkShop
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          Hackaton
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          Networking
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          Study Jam
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          I/O Extended
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          Meetup
        </Button>
        <Button
          variant="outline"
          className="text-sm md:text-base"
          href="#"
          target="_blank"
        >
          CodeLab
        </Button>
      </div> -->
      <Gallery client:only="react" gallery={gallery} />
    </div>
  </section>
  <CallToActionSection>
    <h2 class="mb-6 text-3xl font-bold text-white md:text-4xl">
      ¿Quieres Ser Parte de Nuestra Historia?
    </h2>
    <p class="mb-8 text-xl text-white">
      Únete a nuestra comunidad y ayúdanos a escribir el siguiente capítulo de
      GDG. Juntos podemos crear un impacto aún mayor en el mundo del desarrollo.
    </p>
    <Button variant="white" href="/" target="_blank">
      <User />
      Únete a la Comunidad
    </Button>
  </CallToActionSection>
</Layout>
