---

---

<section class="bg-gradient-to-r from-blue-600 via-red-500 to-green-600 py-20">
  <div class="mx-auto max-w-[1400px] px-4">
    <div class="mx-auto max-w-[768px] text-center">
      <slot />
    </div>
  </div>
</section>
